.btn {
    border-radius: 5px !important;
    margin-bottom: 5px !important;
}

/* ############## */
/* Fiche Etudiant */
/* ############## */

@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

.home *{
    font-family: 'Grechen Fuemen', cursive;
}

.home .alert{
    display: none ;
}


.home .social-box{
    border-radius: 10px !important;
}

.home .social-box header{
    border-radius: 10px 10px 0 0;
}

.home .well{
    width: fit-content;
}

.home .tab-content ul{
    margin: 0px;
}

.home .social-box .scroll{
    overflow-y: auto;
}
    /*******************************************************************/
    /*****************************EDT***********************************/
    /*******************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

.edt *{
  font-family: 'Montserrat' !important;
}

.edt .body{
  position: relative;
  left: 3000px;
}
.transition_une_seconde_gauche{
  transition: all 1000ms;
  left: 0px !important;
}
.rotation-360{
  transition: transform 1000ms;
  transform: rotate(360deg);
}
.rotation-360:hover{
  transition: transform 1000ms;
  transform: rotate(360deg);
}

@keyframes rotatein {
  0% { right: 100px; transform: rotate(263deg);}
  100% { right: 0px; transform: rotate(0deg);}
}
@keyframes colorchange {
  0% { background: yellow }
  100% { background: blue }
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.rotate{
  position: relative;
  animation: colorchange 2s !important;
  animation: .5s linear 1s infinite alternate rotatein !important;
}


    /*******************************************************************/
    /*****************************EDT END*******************************/
    /*******************************************************************/
